html {
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background: white;
    height: auto;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Playfair Display', serif;
}

/*NAV*/
nav {
    display: grid;
    grid-template-areas: 
    "img a";
    grid-gap: 0%;
    grid-template-rows: 8rem;
    height: 8rem;
    width: 100vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(53, 53, 53, 0.459);
}

nav ul {
    margin: 3rem 0;
}

nav ul li {
    display: inline-block;
    margin-left: 2vw;
}

nav li:hover {
    transform: scale(1.07);
}

nav a {
    text-decoration: none;
    font-size: 2rem;
    grid-area: a;
    color: rgb(68, 68, 68);
}

.navImg {
    grid-area: img;
    width: 1rem;
}

.navImg img {
    width: auto;
    height: 85%;
    margin: 0.5rem 0;
    padding-left: 2rem;
}

/*FOOTER*/
footer {
    grid-area: "footer";
    padding: 2rem 0rem 4rem 0rem;
    width: 100vw;
    height: 14rem;
    background-color: rgb(54, 57, 59);
    display: flex;
}

footer div {
    margin-left: 15rem;
}

footer h1 {
    color: rgb(141, 141, 141);
}

footer a {
    padding-top: 0rem;
}

footer p, a {
    color: rgb(134, 134, 134);
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

/*POLICY*/
.policyWrapper {
    width: 100vw;
    height: 200vh;
    overflow: hidden;
}

.qualityPolicy {
    display: grid;
    grid-template-areas: 
    "img1 p1";
}

.qualityPolicy img {
    grid-area: "img1";
}

.qualityPolicy .p1 {
    grid-area: "p1";
    padding: 7rem;
    font-size: 18px;
}

.environmentPolicy {
    display: grid;
    grid-template-areas: 
    "img1 p1";
    background-color: #f3f3f3;
}

.environmentPolicy img {
    grid-area: "img1";
}

.environmentPolicy .p2 {
    grid-area: "p1";
    padding: 7rem;
    font-size: 18px;
}

/*PHONE*/
.p_body {
    display: none;
    width: 0;
    height: 0;
}

@media only screen and (max-width: 600px) {
    nav, .policyWrapper,  footer {
        display: none;
        width: 0;
        height: 0;
    }

    .p_body {
        display: initial;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        margin: auto;
       background-color: white;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .p_nav {
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        position: sticky;
        box-shadow: 0px 2px 5px rgba(53, 53, 53, 0.37);
    }

    .nav_links {
        display: none;
    }

    .p_nav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .p_nav a.nav_icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    a.active {
        color: white;
        margin: 0;
        padding: 3px;
    }

    .p_body1 {
        width: 100vw;
        height: auto;
    }

    .p_footer {
        margin-top: 3rem;
        background-color: rgb(54, 57, 59);
        padding: 1rem 0 2rem 2rem;
        text-align: left;
    }

    .p_footer h1 {
        color: rgb(141, 141, 141);
    }
    
    .p_footer p, a {
        color: rgb(134, 134, 134);
        font-size: 1rem;
        font-family: 'Source Sans Pro', sans-serif;
        text-decoration: none;
    }

    .p_body1_part1 {
        width: 100vw;
        display: flex;
        padding-top: 5vw;
    }

    .p_body1_part1 img {
        width: 70vw;
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 96%);
        margin-left: -115px;
    }

    .p_body1_part1 .text1 {
        padding: 1rem;
    }
    
    .p_body1_part1 h2, .p_body1_part1 p {
        margin: 0;
        padding: 0;
    }